<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpeakUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg" style="background-color: black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/SpeakUp.png" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/teacher" style="color: white">Преподаватели</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/calculate/teacher" style="color: white">Расчет</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-top: 2%"></div>


<div class="card mx-auto" th:each="teacher: ${teachers}" style="width: 90%; margin-bottom: 1%">
    <a th:href="@{/teacher/date/{id}(id=${teacher.id})}">
        <div class="card-header" th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></div>
    </a>
    <div class="card-body">
        <h6 th:text="'Права доступа: ' + ${teacher.role}"></h6>

        <div class="modal fade" th:id="modal-warning+${teacher.id }" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabe" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabe">Новая група</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/teacher/update" method="post">
                            <input type="hidden" name="id" th:value="${teacher.id}">
                            <div class="mb-3">
                                <label for="recipient-userName-1" class="col-form-label">User name:</label>
                                <input type="text" class="form-control" id="recipient-userName-1" name="userName">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-password-1" class="col-form-label">Password:</label>
                                <input type="text" class="form-control" id="recipient-password-1"name="password">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-firstName-1" class="col-form-label">First name:</label>
                                <input type="text" class="form-control" id="recipient-firstName-1"name="firstName">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-lastName-1" class="col-form-label">Last name:</label>
                                <input type="text" class="form-control" id="recipient-lastName-1"name="lastName">
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Role:</label>
                                <select name="role" class="form-select ms-2">
                                    <option th:text="'Выбрать'"></option>
                                    <div th:each="role: ${roles}">
                                        <option th:value="${role}" th:text="${role}"></option>
                                    </div>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Редактировать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <form action="/teacher/delete" method="post">
            <input type="hidden" name="id" th:value="${teacher.id}">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-warning " data-bs-toggle="modal"  th:attr="data-bs-target='#modal-warning'+${teacher.id }">
                    Редактировать
                </button>
                <input type="hidden"  name="id">
                <button type="submit" class="btn btn-danger ms-1" >Удалить</button>
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>